<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Bike Rental</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/assets/css/Brands.css">
    <link rel="stylesheet" href="static/assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="static/assets/css/Footer-Clean.css">
    <link rel="stylesheet" href="static/assets/css/Highlight-Phone.css">
    <link rel="stylesheet" href="static/assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="static/assets/css/Map-Clean.css">
    <link rel="stylesheet" href="static/assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="static/assets/css/styles.css">
    <link rel="stylesheet" href="static/assets/css/Team-Boxed.css">

    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/x-icon" href="static/assets/img/favicon.ico">
    <link rel="apple-touch-icon" type="image/x-icon" href="static/assets/img/apple-touch-icon.png">
</head>

<body>

    <!-- Navigationsleiste -->
    <nav class="navbar navbar-light navbar-expand-lg navigation-clean-button">
        <div class="container"><a href="/" title="Startseite Bikerental">
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_aai4k5ba.json"
                    background="transparent" speed="1" style="width: 100px; height: 100px;" hover></lottie-player><a
                    class="navbar-brand" id="logo" href="/">BikeRental</a>
            </a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">

                    {% if current_user.has_role('bike-manager') %}
                    <li class="nav-item"><a class="nav-link" href="/bike-management">Bike-Management</a></li>
                    {% endif %}

                    {% if current_user.has_role('user-manager') %}
                    <li class="nav-item"><a class="nav-link" href="/user-management">User-Management</a></li>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                </ul><span class="navbar-text actions"><a class="btn btn-link" role="button" href="/change">Passwort
                        ändern</a><a class="btn btn-light action-button" role="button" href="/logout">Logout</a></span>
                {% else %}
                </ul><span class="navbar-text actions"> <a class="login" href="/login">Log In</a><a
                        class="btn btn-light action-button" role="button" href="/register">Registrieren</a></span>
                {% endif %}

            </div>
        </div>
    </nav>

    {% block content %}

    {% endblock %}

    <!-- Footer -->
    <footer class="footer-clean">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li style="color:#a0a0a0">Für Kommunen</li>
                        <li style="color:#a0a0a0">Für Kunden</li>
                        <li></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Infos</h3>
                    <ul>
                        <li style="color:#a0a0a0">Das Unternehmen</li>
                        <li style="color:#a0a0a0">Das Team</li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Rechtliches</h3>
                    <ul>
                        <li style="color:#a0a0a0">Impressum</li>
                        <li style="color:#a0a0a0">Datenschutz</li>
                    </ul>
                </div>
                <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i
                            class="icon ion-social-instagram"></i></a>
                    <p class="copyright">Bike Rental© 2023</p>
                </div>
            </div>
        </div>
    </footer>
