<nav class="navbar navbar-light navbar-expand-lg navigation-clean-button">
    <div class="container"><a class="navbar-brand" href="#">BikeRental</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" href="http://www.localhost/bike-management.html">Bike-Management</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Second Item</a></li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Dropdown </a>
                    <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                </li>

            {% if current_user.is_authenticated %}
            </ul><span class="navbar-text actions"><a class="btn btn-light action-button" role="button" href="/logout">Logout</a></span>
                {% else %}
            </ul><span class="navbar-text actions"> <a class="login" href="/login">Log In</a><a class="btn btn-light action-button" role="button" href="/register">Registrieren</a></span>
            {% endif %}

        </div>
    </div>
</nav>

{% block content %}

{% endblock %}


<footer class="footer-clean">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-4 col-md-3 item">
                <h3>Services</h3>
                <ul>
                    <li><a href="#">Für Kommunen</a></li>
                    <li><a href="#">Für Kunden</a></li>
                    <li></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-3 item">
                <h3>Infos</h3>
                <ul>
                    <li><a href="#">Das Unternehmen</a></li>
                    <li><a href="#">Das Team</a></li>
                    <li></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-3 item">
                <h3>Rechtliches</h3>
                <ul>
                    <li><a href="#">Impressum</a></li>
                    <li><a href="#">Datenschutz</a></li>
                    <li></li>
                </ul>
            </div>
            <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                <p class="copyright">Bike Rental© 2022</p>
            </div>
        </div>
    </div>
</footer>
