<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Bike Rental</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/assets/css/Brands.css">
    <link rel="stylesheet" href="static/assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="static/assets/css/Footer-Clean.css">
    <link rel="stylesheet" href="static/assets/css/Highlight-Phone.css">
    <link rel="stylesheet" href="static/assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="static/assets/css/Map-Clean.css">
    <link rel="stylesheet" href="static/assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="static/assets/css/styles.css">
    <link rel="stylesheet" href="static/assets/css/Team-Boxed.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="#">BikeRetal</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active" href="#">First Item</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Second Item</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Dropdown </a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                    </li>
                </ul><span class="navbar-text actions"> <a class="login" href="#">Log In</a><a class="btn btn-light action-button" role="button" href="#">Registrieren</a></span>
            </div>
        </div>
    </nav>
    <section class="map-clean">
        <div class="map"></div>
        <div class="brands">
            <section class="highlight-phone" style="background: rgb(255,255,255);">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h1>Bike #{{ bike.id }} {{ bike.name }}</h1>
                            <form action="/bike{{ bike.id }}/{{ status }}" method="POST">
                                <input type="datetime" name="start_time" placeholder="Start Time" value="2004-10-19 10:23:54">
                                <button type="submit" class="btn btn-primary">{{ status }} rent</button>
                            </form>
                            <linebreak>
                            <form action="/bike{{ bike.id }}/{{ status }}" method="POST">
                                <input type="datetime" name="end_time" placeholder="End Time" value="2004-10-19 10:23:54">
                                <button type="submit" class="btn btn-primary">{{ status }} return</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <footer class="footer-clean">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Für Kommunen</a></li>
                        <li><a href="#">Für Kunden</a></li>
                        <li></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Infos</h3>
                    <ul>
                        <li><a href="#">Das Unternehmen</a></li>
                        <li><a href="#">Das Team</a></li>
                        <li></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Rechtliches</h3>
                    <ul>
                        <li><a href="#">Impressum</a></li>
                        <li><a href="#">Datenschutz</a></li>
                        <li></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                    <p class="copyright">Bike Rental© 2022</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
