<!DOCTYPE html>
<html>
<head>
    <title>Add Bike</title>
</head>
<body>
    <h1>Some day this may look more beautiful...</h1>
    <form action="/bike-management" method="POST">
        <input type="text" name="name" placeholder="Name">
        <input type="number" name="x_coordinate" placeholder="X Coordinate">
        <input type="number" name="y_coordinate" placeholder="Y Coordinate">
        <button type="submit">Add Bike</button>
    </form>
    <linebreak>
    <form action="/bike-management" method="PUT">
        <input type="number" name="id" placeholder="ID">
        <input type="text" name="name" placeholder="Name">
        <input type="number" name="x_coordinate" placeholder="X Coordinate">
        <input type="number" name="y_coordinate" placeholder="Y Coordinate">
        <button type="submit">Edit Bike</button>
    </form>
    <linebreak>
    <form action="/bike-management" method="DELETE">
        <input type="number" name="id" placeholder="ID">
        <button type="submit">Delete Bike</button>
    </form>
    <br>
    <a href="https://www.koordinaten-umrechner.de/">Koordinaten-Umrechner</a>
</body>
</html>