<!DOCTYPE html>

<head>

   <link rel="stylesheet" href="static/assets/bootstrap/css/timeline.css">


   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
      integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />
   <!-- Make sure you put this AFTER Leaflet's CSS -->
   <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
      integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>
   <link rel="stylesheet" href="static/assets/bootstrap/css/style1.css">
   <!-- Favicons-->
   <link rel="icon" type="image/x-icon" href="static/assets/img/favicon.ico">
   <link rel="apple-touch-icon" type="image/x-icon" href="static/assets/img/apple-touch-icon.png">

   <title>BikeRental - Home</title>

</head>

<body>


   <!-- Navigationsleiste und Footer importieren -->
   {% extends 'base.jinja' %}
   {%block content%}
   <div id="map" style="width: 100%; height: 600px;" class="inverted"></div>
   <section class="map-clean">
      <div class="intro"></div>
      <script>
         var map = L.map('map').setView([0, 0]);
         map.fitBounds([
            [{{ min_y }}, {{ min_x }}],
            [{{ max_y }}, {{ max_x }}]
         ]);

         var tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
         }).addTo(map);

         var Fahrradstellplatz = {{ geo | safe}};

         L.geoJSON(Fahrradstellplatz).bindPopup(function (layer) {
            return '<a href="/bike' + layer.feature.properties.id + '">' + layer.feature.properties.name + "</a>";

         }).addTo(map);

      </script>
      <div class="brands">
         <section class="highlight-phone" style="background: rgb(255,255,255);">
            <div class="container">
               <div class="row">
                  <div class="col-md-8">
                     <div class="intro">
                        <h2>Sei' gescheit, miet das Bike!</h2>
                        <p>Klicke auf den Button und du erhälst eine komplette Anleitung wie unsere Seite funktioniert
                           und wie du dein Fahrrad buchen kannst</p>
                        <a class="btn btn-primary" role="button" href="#anchor">Und so gehts</a>
                     </div>
                  </div>
                  <div class="col-sm-4"><script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets4.lottiefiles.com/private_files/lf30_kcwpiswk.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player></div>
               </div>
            </div>
         </section>
         <div class="text-center"><img src="static/assets/img/HS_Mainz_blau.png" width="100" height="100" style="margin: 10px;"><img src="static/assets/img/HS_Mainz_orange.jpg" width="100" height="100" style="margin: 10px;"><img src="static/assets/img/HS_Mainz_gruen.jpg" width="100" height="100" style="margin: 10px;"><img src="static/assets/img/HS_Mainz_pink.jpg" width="100" height="100" style="margin: 10px;"></div>
      </div>
      <section class="features-boxed">
         <div class="container">
            <div class="intro">
               <h2 class="text-center">Warum solltest du Fahrräder mieten?</h2>
            </div>
            <div class="row justify-content-center features">
               <div class="col-sm-6 col-md-5 col-lg-4 item">
                  <div class="box">
                     <i class="fa fa-map-marker icon"></i>
                     <h3 class="name">Funktioniert überall</h3>
                     <p class="description">Nutze dein Smartphone um jederzeit und überall ganz einfach dein Fahrrad zu mieten</p>
                  </div>
               </div>
               <div class="col-sm-6 col-md-5 col-lg-4 item">
                  <div class="box">
                     <i class="fa fa-clock-o icon"></i>
                     <h3 class="name">24 / 7 Mieten</h3>
                     <p class="description">Unser Service steht dir 24 Stunden am Tag zur Verfügung - 365 Tage im Jahr</p>
                  </div>
               </div>
               <div class="col-sm-6 col-md-5 col-lg-4 item">
                  <div class="box">
                     <i class="fa fa-bicycle icon"></i>
                     <h3 class="name">Immer ein passendes Rad </h3>
                     <p class="description">Egal ob Lastenrad, Mountainbike oder Rennrad, wir haben immer das richtige für deine Befürfnisse</p>
                  </div>
               </div>
               <div class="col-sm-6 col-md-5 col-lg-4 item">
                  <div class="box">
                     <i class="fa fa-leaf icon"></i>
                     <h3 class="name">Umweltschonend</h3>
                     <p class="description">Schone die Umwelt und nutze das Rad. Am Jahresende siehst du, wie viel Co2 du gespart hast</p>
                  </div>
               </div>
               <div class="col-sm-6 col-md-5 col-lg-4 item">
                  <div class="box">
                     <i class="fa fa-globe icon"></i>
                     <h3 class="name">Deutschlandweit und bald international</h3>
                     <p class="description">Wir expandieren und wollen dir schon bald im Urlaub mit unseren Fahrrädern mobilität verschaffen</p>
                  </div>
               </div>
               <div class="col-sm-6 col-md-5 col-lg-4 item">
                  <div class="box">
                     <i class="fa fa-shield icon"></i>
                     <h3 class="name">Sicherheit</h3>
                     <p class="description">Unser System ist bestens gegen Angriffe geschützt. Deine Daten sind bei uns sicher aufgehoben</p>
                  </div>
               </div>
            </div>
         </div>
      </section>





  
     
     <div class="container" id="anchor" style="padding-top: 100px; padding-bottom: 100px;">
         <center><h4>Und so funktioniert's</h4></center>
         <div class="row">
             <div class="col-md-12">
                 <div class="main-timeline9">
                     <div class="timeline">
                         <div class="timeline-content">
                             <div class="circle"><script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                              <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_u8o7BL.json"  background="transparent"  speed="1"  style="width: 180px; height: 180px;"  loop  autoplay></lottie-player></div>
                             <div class="content">
                                 <span class="year">1. Schritt</span>
                                 <h4 class="title">Registrieren</h4>
                                 <p class="description">
                                    Zunächst solltest du einen Account bei uns erstellen. Nutze dazu den blauen Button oben rechts im Menü. Wir benötigen nur deine E-Mail-Adresse. Sobald die Registrierung abgeschlossen ist, wirst du automatisch eingeloggt und kannst mit dem nächsten Schritt fortfahren.
                                 </p>
                                 <div class="icon"><span></span></div>
                             </div>
                         </div>
                     </div>
                     <div class="timeline">
                         <div class="timeline-content">
                             <div class="circle"><script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                              <lottie-player src="https://assets8.lottiefiles.com/private_files/lf30_D4yZiV.json"  background="transparent"  speed="1"  style="width: 150px; height: 150px;"  loop  autoplay></lottie-player></div>
                             <div class="content">
                                 <span class="year">2. Schritt</span>
                                 <h4 class="title">Karte raus suchen</h4>
                                 <p class="description">
                                     Nachdem du eingeloggt bist, hast du die Möglichkeit über die Map auf der Startseite ein Fahrrad auszuwählen, das in der Nähe deines Standortes ist. Die Verlinkung des Markers führt dich zur Produktseite des Fahrrads. 
                                 </p>
                                 <div class="icon"><span></span></div>
                             </div>
                         </div>
                     </div>
                     <div class="timeline">
                         <div class="timeline-content">
                             <div class="circle"><script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                              <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_viqsn7dc.json"  background="transparent"  speed="1"  style="width: 180px; height: 180px;"  loop  autoplay></lottie-player></div>
                             <div class="content">
                                 <span class="year">3. Schritt</span>
                                 <h4 class="title">Fahrrad mieten</h4>
                                 <p class="description">
                                     Schaue dir die Beschreibung des Fahrrads an und überlege, ob es deinen Ansprüchen entspricht. Anschließend kannst du durch einen einfachen Klick auf "Jetzt Mieten" dein Fahrrad ausleihen. 
                                 </p>
                                 <div class="icon"><span></span></div>
                             </div>
                         </div>
                     </div>
                     <div class="timeline">
                         <div class="timeline-content">
                             <div class="circle"><script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                              <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_yWdPfx3V0f.json"  background="transparent"  speed="1"  style="width: 180px; height: 180px;"  loop  autoplay></lottie-player></div>
                             <div class="content">
                                 <span class="year">4. Schritt</span>
                                 <h4 class="title">Fahrrad zurückgeben</h4>
                                 <p class="description">
                                     Die Rückgabe erfolgt genau so einfach wie das Ausleihen. Klicke einfach auf der Seite deines Rads auf "Zurückgeben" und beende deine Fahrt mit dem Rad.
                                 </p>
                                 <div class="icon"><span></span></div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>










   </section>
   <section class="team-boxed">
      <div class="container">
         <div class="intro">
            <h2 class="text-center">Team </h2>
            <p class="text-center">Dieses Nerds stecken hinter BikeRental</p>
         </div>
         <div class="row people">
            <div class="col-md-6 col-lg-4 item">
               <div class="box ">
                  <img class="rounded-circle inverted" src="static/assets/img/PB.jpeg">
                  <h3 class="name">Jonas Frey</h3>
                  <p class="title">Frontend Designer</p>
                  <p class="description">Hat das Auge für das gewisse Etwas und hat Frontend konzipiert und designed.</p>
               </div>
               <div class="box">
                  <img class="rounded-circle inverted" src="static/assets/img/kai.png">
                  <h3 class="name">Kai Seegers</h3>
                  <p class="title">Backend Entwickler</p>
                  <p class="description">Zahlen und Logiken sind sein Ding. Die Map war seine Hauptaufgabe.<br></p>
               </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
               <div class="box">
                  <img class="rounded-circle inverted" src="static/assets/img/Luke.png">
                  <h3 class="name">Luke Löwe</h3>
                  <p class="title">Security Experte</p>
                  <p class="description">Mit seinem profunden Verständnis von Cyber-Bedrohungen schützt er die Systeme vor Angriffen.
                  </p>
               </div>
               <div class="box">
                  <img class="rounded-circle inverted" src="static/assets/img/tim.jpg">
                  <h3 class="name">Tim Ottenstein</h3>
                  <p class="title">&#8205;</p>
                  <p class="description">Er ist zuständig für den reibungslosen Ablauf des Projektes.<br></p>
               </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
               <div class="box">
                  <img class="rounded-circle inverted" src="static/assets/img/Sebastian.jpeg">
                  <h3 class="name">Sebastian Geiger</h3>
                  <p class="title">Backend Entwickler</p>
                  <p class="description">Hat Projektziele definiert, Backendentwicklung unterstützt & Clouddeployment realisiert.<br></p>
               </div>
               <div class="box">
                  <img class="rounded-circle inverted" src="static/assets/img/roman.jpg">
                  <h3 class="name">Roman Wilhelm</h3>
                  <p class="title">&#8205;</p>
                  <p class="description">War an Planung, Organisation und Gestaltung beteiligt<br></p>
               </div>
            </div>
         </div>
      </div>
   </section>
   {% endblock %}
   <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
