<!DOCTYPE html>
<html lang="en">

<head>
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
      integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />
   <!-- Make sure you put this AFTER Leaflet's CSS -->
   <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
      integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>
   <link rel="stylesheet" href="static/assets/bootstrap/css/style1.css">

   <!-- Favicons-->
   <link rel="icon" type="image/x-icon" href="static/assets/img/favicon.ico">
   <link rel="apple-touch-icon" type="image/x-icon" href="static/assets/img/apple-touch-icon.png">

   <title>BikeRental - Home</title>
</head>

<body>


   <!-- Navigationsleiste und Footer importieren -->
   {% extends 'base.html' %}
   {%block content%}

   <section class="map-clean">
      <div class="intro"></div>
      <div id="map" style="width: 100%; height: 600px;"></div>
      <script>
         var map = L.map('map').setView([0, 0]);
         map.fitBounds([
            [{{ min_y }}, {{ min_x }}],
            [{{ max_y }}, {{ max_x }}]
         ]);

         var tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
         }).addTo(map);

         var Fahrradstellplatz = {{ geo | safe}};

         L.geoJSON(Fahrradstellplatz).bindPopup(function (layer) {
            return '<a href="/bike' + layer.feature.properties.id + '">' + layer.feature.properties.name + "</a>";

         }).addTo(map);

      </script>
      <div class="brands">
         <section class="highlight-phone" style="background: rgb(255,255,255);">
            <div class="container">
               <div class="row">
                  <div class="col-md-8">
                     <div class="intro">
                        <h2>Sei' nicht feig, miet das Bike!</h2>
                        <p>Klicke auf den Button und du erhälst eine komplette Anleitung wie unsere Seite funktioniert und wie du dein Fahrrad buchen kannst</p>
                        <a class="btn btn-primary" role="button" href="#">Action Button</a>
                     </div>
                  </div>
                  <div class="col-sm-4"><img
                        src="static/assets/img/bicycle-rent-isometric-design-concept_1284-21936.jpg"
                        style="width: 338px;margin: -10px;padding: 4px;"></div>
               </div>
            </div>
         </section>
         <a href="#"> <img src="static/assets/img/instacart.png"><img src="static/assets/img/kickstarter.png"><img
               src="static/assets/img/lyft.png"><img src="static/assets/img/shopify.png"><img
               src="static/assets/img/pinterest.png"><img src="static/assets/img/twitter.png"></a>
      </div>
      <section class="features-boxed">
         <div class="container">
            <div class="intro">
               <h2 class="text-center">Warum solltest du Fahrräder mieten?</h2>
            </div>
            <div class="row justify-content-center features">
               <div class="col-sm-6 col-md-5 col-lg-4 item">
                  <div class="box">
                     <i class="fa fa-map-marker icon"></i>
                     <h3 class="name">Funktioniert überall</h3>
                     <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent
                        aliquam in tellus eu.</p>
                  </div>
               </div>
               <div class="col-sm-6 col-md-5 col-lg-4 item">
                  <div class="box">
                     <i class="fa fa-clock-o icon"></i>
                     <h3 class="name">24 / 7 Mieten</h3>
                     <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent
                        aliquam in tellus eu.</p>
                  </div>
               </div>
               <div class="col-sm-6 col-md-5 col-lg-4 item">
                  <div class="box">
                     <i class="fa fa-list-alt icon"></i>
                     <h3 class="name">Customizable </h3>
                     <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent
                        aliquam in tellus eu.</p>
                  </div>
               </div>
               <div class="col-sm-6 col-md-5 col-lg-4 item">
                  <div class="box">
                     <i class="fa fa-leaf icon"></i>
                     <h3 class="name">Umweltschonend</h3>
                     <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent
                        aliquam in tellus eu.</p>
                  </div>
               </div>
               <div class="col-sm-6 col-md-5 col-lg-4 item">
                  <div class="box">
                     <i class="fa fa-plane icon"></i>
                     <h3 class="name">Schnell</h3>
                     <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent
                        aliquam in tellus eu.</p>
                  </div>
               </div>
               <div class="col-sm-6 col-md-5 col-lg-4 item">
                  <div class="box">
                     <i class="fa fa-phone icon"></i>
                     <h3 class="name">Mobile-first</h3>
                     <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent
                        aliquam in tellus eu.</p>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </section>
   <section class="team-boxed">
      <div class="container">
         <div class="intro">
            <h2 class="text-center">Team </h2>
            <p class="text-center">Dieses Nerds stecken hinter BikeRental</p>
         </div>
         <div class="row people">
            <div class="col-md-6 col-lg-4 item">
               <div class="box">
                  <img class="rounded-circle" src="static/assets/img/PB.jpeg">
                  <h3 class="name">Jonas Frey</h3>
                  <p class="title">Frontend Designer</p>
                  <p class="description">Hat das Auge für das gewisse Etwas und hat die Webseite nutzerfreundlich
                     gestaltet.&nbsp;</p>
                  <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                           class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
               </div>
               <div class="box">
                  <img class="rounded-circle" src="static/assets/img/1.jpg">
                  <h3 class="name">Kai Seegers</h3>
                  <p class="title">Musician</p>
                  <p class="description">Zahlen und Logik sind sein Ding. Die Datenbankarchitektur was sein
                     Anliegen.<br></p>
                  <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                           class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
               </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
               <div class="box">
                  <img class="rounded-circle" src="static/assets/img/2.jpg">
                  <h3 class="name">Luke Löwe</h3>
                  <p class="title">Datenbankexperte</p>
                  <p class="description">Zahlen und Logik sind sein Ding. Die Datenbankarchitektur was sein Anliegen.
                  </p>
                  <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                           class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
               </div>
               <div class="box">
                  <img class="rounded-circle" src="static/assets/img/1.jpg">
                  <h3 class="name">Tim&nbsp;</h3>
                  <p class="title">Musician</p>
                  <p class="description">Zahlen und Logik sind sein Ding. Die Datenbankarchitektur was sein
                     Anliegen.<br></p>
                  <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                           class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
               </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
               <div class="box">
                  <img class="rounded-circle" src="static/assets/img/3.jpg">
                  <h3 class="name">Sebastian Geiger</h3>
                  <p class="title">Backend Entwickler</p>
                  <p class="description">Zahlen und Logik sind sein Ding. Die Datenbankarchitektur was sein
                     Anliegen.<br></p>
                  <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                           class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
               </div>
               <div class="box">
                  <img class="rounded-circle" src="static/assets/img/1.jpg">
                  <h3 class="name">Roman</h3>
                  <p class="title">Projektmanager</p>
                  <p class="description">Zahlen und Logik sind sein Ding. Die Datenbankarchitektur was sein
                     Anliegen.<br></p>
                  <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                           class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
               </div>
            </div>
         </div>
      </div>
   </section>
   {% endblock %}
   <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
