<!-- Navigationsleiste und Footer importieren -->
{% extends 'base.jinja' %}
{%block content%}
<!-- Bike Management Section-->

</html>
<!-- Starte Inhalt-->

<body>
   <section class="vh-100 bg-image" style="background-image: url('static/assets/img/HG_Register.jpg');">
      <div class="mask d-flex align-items-center h-100 gradient-custom-3">
         <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
               <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                  <div class="card" style="border-radius: 15px;">
                     <div class="card-body p-5">
                        <!-- include messages template -->
                        {% include "security/_messages.html" %}
                        <h2 class="text-uppercase text-center mb-5">Erstelle einen Account</h2>
                        <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
                           <div class="form-outline mb-4">
                              {{ register_user_form.email(class="form-control") }}
                              <label class="form-label" for="form3Example3cg">Deine E-Mail</label>
                           </div>
                           <div class="form-outline mb-4">
                              {{ register_user_form.password(class="form-control") }}
                              <label class="form-label" for="form3Example4cg">Passwort</label>
                              <i class="fa fa-info-circle" title = "min. 8 Zeichen"></i>
                           </div>
                           <div class="form-outline mb-4">
                              {{ register_user_form.password_confirm(class="form-control") }}
                              <label class="form-label" for="form3Example4cdg">Passwort erneut eingeben</label>
                           </div>
                           <div class="form-check d-flex justify-content-center mb-5">
                              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                              <label class="form-check-label" for="form2Example3g">
                                 Ich habe die <a href="#!" class="text-body"><u>Nutzungsbedingungen</u></a> gelesen und
                                 stimme ihnen zu.
                              </label>
                           </div>
                           <div class="d-flex justify-content-center">
                              {{ register_user_form.submit(class="btn btn-primary") }}
                           </div>
                           <p class="text-center text-muted mt-5 mb-0">Du hast schon einen Account? <a
                                 href="/login" class="fw-bold text-body"><u>Login</u></a></p>
                           {{ register_user_form.hidden_tag() }}
                           {% if register_user_form.errors %}
                           <div class="alert alert-danger">
                              {% for error in register_user_form.errors %}
                              <p>{{ error }}</p>
                              {% endfor %}
                           </div>
                           {% endif %}
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   {% endblock %}
</body>

</html>
